/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dark: #272b41;
  --dark-two: #0f1923;
  --white: #fff;
  --red-pink: #f9305b;
  --pinkish-red: #e81538;
  --dark-seafoam: #1bb67f;
  --dark-three: #1f2236;
  --slate: #40465c;
  --dark-four: #181a27;
  --red-pink-two: #f92c6d;
  --cool-grey: #9599a8;
  --dark-five: #202232;
  --black: #000;
  --tealish: #22c7a7;
  --cool-grey-two: #b8bbc8;
  --butterscotch: #ffc648;
  --dark-six: #1b1d2b;
  --blue-grey: #7b8ca9;
  --mud: #6c4f11;
  --slate-grey: #53586b;
  --cornflower: #5f6af2;
  --very-light-pink: #fffdfd;
  --blue-blue: #142dcc;
  --lightish-blue: #4860f9;
  --cloudy-blue: #acb1cd;
  --weird-green: #3eed80;
  --pastel-blue: #a6b4ff;
  --slate-two: #3e425a;
  --blush: #f8c0b7;
  --pinkish-tan: #d98b7c;
  --dark-seven: #33364d;
  --separator: #323b45;
  --background-two: #1a242d;
  --background-three: #252f38;
  --background-four: #1d2730;
  --background-five: #2b2b2c;
  --dark-background: #0f1923;
  --dark-background-four: #262f3c;
  --dark-background-five: #2e3142;
  --light-background: #1b242f;
  --light-grey: #bcbfc7;
  --light-grey-two: #8c9099;
  --light-grey-three: #9095ab;
  --dark-grey: #8a90a2;
  --white-grey: #aab0c3;
  --white-grey-two: #e2e6f4;
  --white-two: #fefefe;
  --background: #0f1923;
  --lime-green: #04d47c;
  --lime-green-two: #06e385;
  --dark-green: #006d3f;
  --red: #f12c4c;
  --dark-red: #cc2843;
  --dark-separator: #15202b;
  --charcoal-grey: #343b4a;
  --bronze: #c5a075;
  --silver: #cadee0;
  --gold: #ffd764;
  --platinum: #6edae4;
  --diamond: #fff;
  --separator-two: #353e4c;
  --footer-color: #1a242d;
  --dark-text: #333b46;
  --dark-grey-two: #464d5e;
  --rouge: #8c1024;
  --tealish-green: #04d47c;
  --bluey-grey: #9095ab;
  --dark-gradient: #15202c;
  --black-one: #1a2633;
  --dark-40: rgba(18, 29, 40, 0.4);
  --dark-separator-two: #28313c;
  --bluey-grey-two: #9095ac;
  --bluey-grey-three: #aab0c4;
  --separator-three: #515963;

  --mm-yellow: #ffdc4e;
  --mm-yellow-two: #fad300;
  --mm-peach: #ffbd59;
  --mm-green: #008037;
  --mm-green-two: #015a27;
  --mm-black: #1a1822;

  background: var(--background);
}

body {
  background: linear-gradient(-45deg, var(--mm-green), var(--mm-peach), var(--mm-green-two), var(--mm-peach));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1{
  margin: 2rem;
  font-size: 2rem;
  font-weight: 800;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  color: var(--mm-green-two);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  background: var(--diamond);
  border-radius: 1rem;
}

.center h1 {
  text-align: center;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 2.5rem;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 1.8rem 0;
}

.txt_field input {
  width: 100%;
  padding: 0 0.3rem;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--background)
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: var(--background)
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover{
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: var(--mm-green-two);
  border-color: var(--mm-green-two);
  border-radius: 25px;
  font-size: 18px;
  color: var(--mm-yellow-two);
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: var(--mm-yellow-two);
  transition: .5s;
  transform: scale(1.05);
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 1rem;
  color: #666666;
}

.signup_link a {
  color: var(--mm-green-two);
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 410px) {
  .center{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}