/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dark: #272b41;
  --dark-two: #0f1923;
  --white: #fff;
  --red-pink: #f9305b;
  --pinkish-red: #e81538;
  --dark-seafoam: #1bb67f;
  --dark-three: #1f2236;
  --slate: #40465c;
  --dark-four: #181a27;
  --red-pink-two: #f92c6d;
  --cool-grey: #9599a8;
  --dark-five: #202232;
  --black: #000;
  --tealish: #22c7a7;
  --cool-grey-two: #b8bbc8;
  --butterscotch: #ffc648;
  --dark-six: #1b1d2b;
  --blue-grey: #7b8ca9;
  --mud: #6c4f11;
  --slate-grey: #53586b;
  --cornflower: #5f6af2;
  --very-light-pink: #fffdfd;
  --blue-blue: #142dcc;
  --lightish-blue: #4860f9;
  --cloudy-blue: #acb1cd;
  --weird-green: #3eed80;
  --pastel-blue: #a6b4ff;
  --slate-two: #3e425a;
  --blush: #f8c0b7;
  --pinkish-tan: #d98b7c;
  --dark-seven: #33364d;
  --separator: #323b45;
  --background-two: #1a242d;
  --background-three: #252f38;
  --background-four: #1d2730;
  --background-five: #2b2b2c;
  --dark-background: #0f1923;
  --dark-background-four: #262f3c;
  --dark-background-five: #2e3142;
  --light-background: #1b242f;
  --light-grey: #bcbfc7;
  --light-grey-two: #8c9099;
  --light-grey-three: #9095ab;
  --dark-grey: #8a90a2;
  --white-grey: #aab0c3;
  --white-grey-two: #e2e6f4;
  --white-two: #fefefe;
  --background: #0f1923;
  --lime-green: #04d47c;
  --lime-green-two: #06e385;
  --dark-green: #006d3f;
  --red: #f12c4c;
  --dark-red: #cc2843;
  --dark-separator: #15202b;
  --charcoal-grey: #343b4a;
  --bronze: #c5a075;
  --silver: #cadee0;
  --gold: #ffd764;
  --platinum: #6edae4;
  --diamond: #fff;
  --separator-two: #353e4c;
  --footer-color: #1a242d;
  --dark-text: #333b46;
  --dark-grey-two: #464d5e;
  --rouge: #8c1024;
  --tealish-green: #04d47c;
  --bluey-grey: #9095ab;
  --dark-gradient: #15202c;
  --black-one: #1a2633;
  --dark-40: rgba(18, 29, 40, 0.4);
  --dark-separator-two: #28313c;
  --bluey-grey-two: #9095ac;
  --bluey-grey-three: #aab0c4;
  --separator-three: #515963;

  --mm-yellow: #ffdc4e;
  --mm-yellow-two: #fad300;
  --mm-peach: #ffbd59;
  --mm-green: #008037;
  --mm-black: #1a1822;

  background: var(--background);
}
